SeattleSlewSketch_RibbonScreens/SampleData/tradeblotterSampleDataSource/tradeblotterSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.tradeblotterSampleDataSource" targetNamespace="Expression.Blend.SampleData.tradeblotterSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data" type="tns:Data" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element name="rowCollection" type="tns:rowCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="row" type="tns:row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="row">
    <xs:attribute name="PortfolioBaseCode" type="xs:string" />
    <xs:attribute name="TradeBlotterLineID" type="xs:double" />
    <xs:attribute name="SequenceNo" type="xs:double" />
    <xs:attribute name="RecID" type="xs:double" />
    <xs:attribute name="PortfolioID" type="xs:double" />
    <xs:attribute name="TransactionCode" type="xs:string" />
    <xs:attribute name="Comment" type="xs:string" />
    <xs:attribute name="Type1" type="xs:string" />
    <xs:attribute name="Symbol1" type="xs:string" />
    <xs:attribute name="SecurityID1" type="xs:double" />
    <xs:attribute name="TradeDate" type="xs:string" />
    <xs:attribute name="SettleDate" type="xs:string" />
    <xs:attribute name="Quantity" type="xs:string" />
    <xs:attribute name="ClosingMethodCode" type="xs:string" />
    <xs:attribute name="Type2" type="xs:string" />
    <xs:attribute name="Symbol2" type="xs:string" />
    <xs:attribute name="SecurityID2" type="xs:double" />
    <xs:attribute name="TradeDateFX" type="xs:string" />
    <xs:attribute name="SettleDateFX" type="xs:string" />
    <xs:attribute name="OriginalFX" type="xs:string" />
    <xs:attribute name="MarkToMarket" type="xs:double" />
    <xs:attribute name="TradeAmount" type="xs:string" />
    <xs:attribute name="OriginalCost" type="xs:string" />
    <xs:attribute name="BuySellAI" type="xs:string" />
    <xs:attribute name="WithholdingTax" type="xs:string" />
    <xs:attribute name="ExchangeID" type="xs:double" />
    <xs:attribute name="ExchangeFee" type="xs:string" />
    <xs:attribute name="Commission" type="xs:string" />
    <xs:attribute name="OtherFees" type="xs:string" />
    <xs:attribute name="CommissionPurposeID" type="xs:double" />
    <xs:attribute name="CustodianID" type="xs:double" />
    <xs:attribute name="DestCustodianID" type="xs:double" />
    <xs:attribute name="OriginalFace" type="xs:string" />
    <xs:attribute name="YieldOnCost" type="xs:string" />
    <xs:attribute name="DurationOnCost" type="xs:string" />
    <xs:attribute name="UserDefinedID1" type="xs:double" />
    <xs:attribute name="UserDefinedID2" type="xs:double" />
    <xs:attribute name="UserDefinedID3" type="xs:double" />
    <xs:attribute name="TranID" type="xs:double" />
    <xs:attribute name="IPCounter" type="xs:double" />
    <xs:attribute name="Replace" type="xs:string" />
    <xs:attribute name="SourceID" type="xs:double" />
    <xs:attribute name="OmnibusID" type="xs:double" />
    <xs:attribute name="Recon" type="xs:string" />
    <xs:attribute name="Hold" type="xs:string" />
    <xs:attribute name="ReclaimAmount" type="xs:string" />
    <xs:attribute name="StrategyID" type="xs:double" />
    <xs:attribute name="RecordDate" type="xs:string" />
    <xs:attribute name="DivIncomeSymbol" type="xs:string" />
    <xs:attribute name="DivAccrualSymbol" type="xs:string" />
    <xs:attribute name="DivAccrualMethodCode" type="xs:string" />
    <xs:attribute name="BrokerFirmID" type="xs:double" />
    <xs:attribute name="MatchID" type="xs:double" />
    <xs:attribute name="SRRecon" type="xs:string" />
    <xs:attribute name="LabelName" type="xs:string" />
    <xs:attribute name="NLabelValuePrec" type="xs:double" />
    <xs:attribute name="SLabelValue" type="xs:string" />
    <xs:attribute name="BlotterID" type="xs:double" />
    <xs:attribute name="AuditEventID" type="xs:double" />
    <xs:attribute name="AuditTypeCode" type="xs:string" />
    <xs:attribute name="AuditTimestamp" type="xs:string" />
    <xs:attribute name="SRReconTranID" type="xs:double" />
    <xs:attribute name="ApplyToShortPosition" type="xs:double" />
    <xs:attribute name="EstDividendState" type="xs:double" />
  </xs:complexType>
</xs:schema>