SeattleSlewSketch_RibbonScreens/SampleData/SecurityMaster/SecurityMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SecurityMaster" targetNamespace="Expression.Blend.SampleData.SecurityMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:rowCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="row" type="tns:row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="row">
    <xs:attribute name="SecTypeCode" type="xs:string" />
    <xs:attribute name="SecTypeNameLong" type="xs:string" />
    <xs:attribute name="Symbol" type="xs:string" />
    <xs:attribute name="CUSIP" type="xs:string" />
    <xs:attribute name="FullName" type="xs:string" />
    <xs:attribute name="UserDef1" type="xs:double" />
    <xs:attribute name="AssetClass" type="xs:string" />
    <xs:attribute name="UserDef2" type="xs:double" />
    <xs:attribute name="UserDef3" type="xs:double" />
  </xs:complexType>
</xs:schema>