SeattleSlewSketch_RibbonScreens/SampleData/SecurityType/SecurityType.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SecurityType" targetNamespace="Expression.Blend.SampleData.SecurityType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Record" type="tns:Record" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element name="Data" type="tns:rowCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="row" type="tns:row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="row">
    <xs:attribute name="Type" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="IncomeTypeCode" type="xs:string" />
    <xs:attribute name="IncomeCurrencyCode" type="xs:string" />
    <xs:attribute name="CanBeBoughtSold" type="xs:boolean" />
    <xs:attribute name="CanMature" type="xs:boolean" />
    <xs:attribute name="CanSplit" type="xs:boolean" />
    <xs:attribute name="IsVRS" type="xs:double" />
    <xs:attribute name="IsFFX" type="xs:double" />
    <xs:attribute name="SettlementLagDays" type="xs:double" />
    <xs:attribute name="QuantityCalculationPrec" type="xs:string" />
    <xs:attribute name="IsLongZeroMV" type="xs:double" />
    <xs:attribute name="CanReinvestDividend" type="xs:boolean" />
    <xs:attribute name="UseAvgCost" type="xs:string" />
    <xs:attribute name="PaymentFrequencyID" type="xs:double" />
    <xs:attribute name="AccrualCalendarCode" type="xs:string" />
    <xs:attribute name="CouponDelayDays" type="xs:boolean" />
    <xs:attribute name="PayOnMonthEnd" type="xs:double" />
    <xs:attribute name="TradeWithAI" type="xs:double" />
    <xs:attribute name="IsZeroCoupon" type="xs:double" />
    <xs:attribute name="AmortizeToCode" type="xs:string" />
    <xs:attribute name="AmortizationMethodCode" type="xs:string" />
    <xs:attribute name="EnterYieldOnCost" type="xs:boolean" />
    <xs:attribute name="UseSimpleInterestInLastPeriod" type="xs:double" />
    <xs:attribute name="LongGainClassificationCode" type="xs:string" />
    <xs:attribute name="HoldingPeriod" type="xs:double" />
    <xs:attribute name="RiskCountryCode" type="xs:string" />
    <xs:attribute name="LongAssetClassCode" type="xs:string" />
    <xs:attribute name="ShortVar" type="xs:double" />
    <xs:attribute name="SubjectToFederalTax" type="xs:double" />
    <xs:attribute name="SubjectToStateTax" type="xs:double" />
    <xs:attribute name="IsUnsupervised" type="xs:double" />
    <xs:attribute name="QuantityDisplayPrec" type="xs:double" />
    <xs:attribute name="ValuationFactor" type="xs:double" />
    <xs:attribute name="SecTypeGroupID" type="xs:double" />
  </xs:complexType>
</xs:schema>