SeattleSlewSketch_RibbonScreens/SampleData/ScriptsSampleDataSource/ScriptsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ScriptsSampleDataSource" targetNamespace="Expression.Blend.SampleData.ScriptsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ScriptMenu" type="tns:ScriptMenu" />
  <xs:complexType name="ScriptMenu">
    <xs:sequence>
      <xs:element name="RowCollection" type="tns:RowCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RowCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Row" type="tns:Row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Row">
    <xs:attribute name="MenuItemEntry" type="xs:string" />
    <xs:attribute name="ScriptFile" type="xs:string" />
    <xs:attribute name="Arguments" type="xs:string" />
  </xs:complexType>
</xs:schema>